/* Hover effect: Edit task */
svg.editContent:hover path{
    fill: #007bff;
    
}
/* Hover effect: Delete task */
svg.deleteContent:hover path {
    fill: #dc3545;    
}

/* For validation messages in form */
.errorText {
    color: #dc3545;
}