/* Hover effect: Edit task */
.editContent:hover path{
    fill: #007bff;
    
}
/* Hover effect: Delete task */
.deleteContent:hover path {
    fill: #dc3545;    
}

/* For validation messages in form */
.errorText {
    color: #dc3545;
}